<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="layout :: layout">
    <div th:fragment="conteudo">
        <h2>Lista de Livros</h2>
        <a th:href="@{/livros/novo}" class="btn btn-primary mb-3">Novo Livro</a>

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Disponível</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="livro : ${livros}">
                <td th:text="${livro.id}"></td>
                <td th:text="${livro.titulo}"></td>
                <td th:text="${livro.autor}"></td>
                <td>
                    <span th:if="${livro.disponivel}" class="badge bg-success">Sim</span>
                    <span th:unless="${livro.disponivel}" class="badge bg-danger">Não</span>
                </td>
                <td>
                    <a th:href="@{/livros/{id}/editar(id=${livro.id})}" class="btn btn-warning btn-sm">Editar</a>
                    <a th:href="@{/livros/{id}/delete(id=${livro.id})}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>